<!DOCTYPE html>
<html>
    <body>
    <title>Stage 2</title>
    <center>
        <br><br><br><img class=center src="img-src/stage2.jpg" alt="stage2" width="650" height="360" /> <br><br>
        <form onSubmit="return checkAnswer();" accept-charset="utf-8">
            <label for="answer">Answer:</label>
            <input type="text" id="answer" name="answer"><br><br>
            <input type="submit" value="Submit">
        </form>
        <!-- <body onload="checkError();"> -->
        <script>
            function checkError(){
                var msg='<%= session.getAttribute("error").ToString() %>';
                console.log(msg)
                if(session.getAttribute("error")!=null){ document.write('<p style="color:red"><%= session.getAttribute("error") %></p>')
                ; console.log(session.getAttribute("error"));}
            }
            function checkAnswer(){
                var response = document.getElementById('answer').value;
                if (response == "eldorado")
                    window.location = 'stage2_pass.html'; // 'right.html';
                else
                    // session.setAttribute("error", "Incorrect");
                    window.location = 'stage2_fail.html'; // 'wrong.html';
                return false;
            }
        </script>
    </center>
   </body>
</html>
