<!DOCTYPE html>
<html>
    <body>
    <title>Stage 4</title>
    <center>
        <h3>Its all a 'word' play!</h3>
    </center>
    <div style="padding: 10px; margin-left: 75%;">
        <BUTTON TYPE="button" ONCLICK="alert('Unrelated clue: The answer you are looking for went to Colorado. IYKYK')">Hint!</BUTTON>
    </div>
    <body bgcolor="#252c6d"></body>
    <center>
        <br><img class=center src="img-src/stage4.JPG" alt="stage3" width="675" height="380" /> <br><br>
        <form onSubmit="return checkAnswer();" accept-charset="utf-8">
            <label for="answer">Answer:</label>
            <input type="text" id="answer" name="answer"><br><br>
            <input type="submit" value="Submit">
        </form>
        <!-- <body onload="checkError();"> -->
        <script>
            function checkError(){
                var msg='<%= session.getAttribute("error").ToString() %>';
                console.log(msg)
                if(session.getAttribute("error")!=null){ document.write('<p style="color:red"><%= session.getAttribute("error") %></p>')
                ; console.log(session.getAttribute("error"));}
            }
            function checkAnswer(){
                var response = document.getElementById('answer').value;
                if (response == "Michael Scott")
                    window.location = 'stage4_pass.html'; // 'right.html';
                else
                    // session.setAttribute("error", "Incorrect");
                    window.location = 'stage4_fail.html'; // 'wrong.html';
                return false;
            }
        </script>
    </center>
   </body>
</html>
