<!DOCTYPE html>
<html>
    <body>
    <title>Stage 5</title>
    <div style="padding: 10px; margin-left: 75%;">
        <BUTTON TYPE="button" ONCLICK="window.open('img-src/s5_hint.jpg');">Hint!</BUTTON>
    </div>
    <center>
        <div class="main">
            <span>Okay lets talk about this guy. Honestly speaking even this guy doesn't know why tf you are fangirling him.
                I mean, he sucks at what he does. I have tried telling you this a lottt. He is the typical Shikhari Shambu(chakka muyal thing).
                On one such occasion he has openly admitted he blindly see-saw(ed) and somehow all went well.
                I'm pretty sure you have laughed like hell watching that! Use the hint only if you really need to!</span>
        </div>
        <form onSubmit="return checkAnswer();" accept-charset="utf-8">
            <label for="answer">Answer:</label>
            <input type="text" id="answer" name="answer"><br><br>
            <input type="submit" value="Submit">
        </form>
        <!-- <body onload="checkError();"> -->
        <script>
            function checkError(){
                var msg='<%= session.getAttribute("error").ToString() %>';
                console.log(msg)
                if(session.getAttribute("error")!=null){ document.write('<p style="color:red"><%= session.getAttribute("error") %></p>')
                ; console.log(session.getAttribute("error"));}
            }
            function checkAnswer(){
                var response = document.getElementById('answer').value;
                if (response == "Thirumandan")
                    window.location = 'stage5_pass.html'; // 'right.html';
                else
                    // session.setAttribute("error", "Incorrect");
                    window.location = 'stage5_fail.html'; // 'wrong.html';
                return false;
            }
        </script>
    </center>
   </body>
</html>
